@import "styles/colors.module.scss";
@import "styles/common.module.scss";
$color-start: rgb(1, 69, 255);
$color-end: rgb(0, 198, 188);

.container {
  color: #fff;
  .title {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    color: rgba(209, 235, 255, 0.744);
    position: relative;
    text-align: center;

  }
  .description {
    text-align: center;
    padding: 1rem;
    span {
      color: rgb(1, 221, 255);
    }
  }
  .skills {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }
  p {
    text-align: center;
    color: $color-text-opaque;
    font-weight: lighter;
  }
}
:export {
  color_start: $color-start;
  color_end: $color-end;
}
