@import 'styles/colors.module.scss';
@import 'styles/common.module.scss';
.skillsSection{
    min-height: 100vh;  
    color:$color-text;
    .header{
        margin-top:4rem;
    }
    .title{
        font-size: 2rem;
        margin: 0;
        font-weight: bold;
        color: rgba(209, 235, 255, 0.744);
        position: relative;
        text-align: center;
    }

    .description{
        text-align: center;
        padding: 1rem;
        color:$color-text-opaque;
        font-weight: lighter;
    }

    .projects{
@extend .container;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:1rem;
        @media (max-width: $lg) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $sm) {
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
        }
    }

  }
