@import 'styles/colors.module.scss';
.headerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    header{
        h2{
            font-size: 3rem;
            color:$color-text;
            margin: 0;
        }
        p{
            font-size: 1rem;
            color:$color-text-opaque;
        }
    }
    .buttons {
        display: flex;
        
      }
    
}