.btn {
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    display: flex;
    padding: 0.4rem .6rem;
    align-items: center;
    gap: 0.4rem;
    &:hover{
      text-decoration: underline;
    }
  }
  .icono:hover{
    color: rgb(154, 154, 154) !important;
  }